<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel_wishlist</title>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<h1>Where do you wanna go?</h1>
<body>
    {% block content  %}
    {% endblock %}
</body>

    <div>
        <p>A travel wishlist , Built because of django</p>
        <a>href= {% url 'places_visited'%}>Places you have visited </a>
        <a>href= {% url 'places_list'%}>Places you have not visited </a>

    </div>
</html>