<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
</head>

<h2>
    Travel wishlist
</h2>
<form method="POST" action="{% url 'place_list'%}">
    {% csrf_token %}
    {{new_place_form}}
<button type="submit">Add</button>
</form>
{% for place in places %}


<div>
    <span id="place-name-{{place.pk}}" class="place-name">
        <a href="{% url 'place_details' place_pk=place_pk %">
             {{place.name}}
        </a>

    </span>
    <form method="post">
        {% csrf_token %}
        <button>Visited</button>
    </form>

</div>
    {% empty %}
<p>
    { you have no places in this wishlist }
</p>
    {% endfor %}
<body>

</body>
</html>