span.place_name{
display: incline-block;
}
form.visited-form{
display: incline
}
div.wishlist-place{
margin: 20px;
}
label {
    display: inline block;
    padding-right: 8px;
}
a.nav-link{
padding right: 10px

}