span.place_name{
display: incline-block;
}
form.visited-form{
display: incline
}
div.wishlist-place{
margin: 20px;
}
label {
    display: inline block;
    padding-right: 8px;
}
a.nav-link{
padding right: 10px

}

#site-header {
    background: url('../image/tree.jpg') 0 0 repeat-x;
    color:white
    padding: 40px 0 40px 0:
    text_align: center

}